.vs/
.vscode/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.log
appsettings.*.local.json

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet Packages
*.nupkg
*.snupkg
.nuget/
packages/

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResult.xml
coverage*.json
coverage*.xml
coverage*.info

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# Rider
.idea/

# Docker
**/docker-compose*.yml.override

# macOS
.DS_Store
